<div class="gallery-view">
  <div class="row" ng-repeat="item in items track by $index" ion-row-height>
    <div ng-repeat="photo in item track by $index"
         class="col col-{{responsiveGrid}} image-container">

        <div style="background-image: url('{{photo.thumb}}'); background-size: 200%; width: 100%; height: 100%;
                background-position: center"
            ng-click="customCallback ? ionItemCallback({item:photo}) : showImage(photo.position)">
        </div>
    </div>
  </div>
  <div ion-slider></div>
</div>
