<ion-modal-view class="imageView">
  <ion-header-bar class="bar-clear">
    <div class="buttons">
      <button class="button button-clear button-light" ng-click="closeModal()">
          <i class="ion-ios-arrow-back"></i> Back
      </button>
    </div>
  </ion-header-bar>

  <ion-content class="has-no-header" scroll="false">
    <ion-slide-box active-slide="selectedSlide" class="listContainer" on-slide-changed="slideChanged($index)">
      <ion-slide ng-repeat="single in slides track by $index">
        <ion-scroll direction="xy"
                    locking="false"
                    zooming="true"
                    min-zoom="1"
                    scrollbar-x="false"
                    scrollbar-y="false"
                    ion-slide-action
                    delegate-handle="slide-{{$index}}"
                    overflow-scroll="false"
                    >
        <div class="item item-image gallery-slide-view">
          <img ng-src="{{single.src}}" style="width:100%">
        </div>
        </ion-scroll>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-modal-view>
